@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;                 
}
/* to overide antd button styles */
button{
  border-radius: 0 !important;
  box-shadow: none !important;
  height: 40px !important;
}

/* Using tailwind css */
/* .app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blueviolet;
}

.project__title{
  color: white;
} */

